.contacts {
    padding: 120px 0 90px 0;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: repeat ( );

    }
    &__title {
        position: relative;
        padding: 1px 0 0 12px;
        @include before_circle;
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
    }
}